.input-common {
  padding: 0.5rem 0.75rem; /* py-2 px-3 */
  color: #111827; /* text-gray-900 */
}

/* Style for when the app has proper dark mode support */
@media (prefers-color-scheme: dark) {
  .input-common {
    color: #f3f4f6; /* text-gray-100 */
    background-color: #374151; /* bg-gray-700 */
    border-color: #4b5563; /* border-gray-600 */
  }
}